.container-fluid {
    height: 100px;
    font-family: 'Montserrat', sans-serif;
}

.d-flex {
    padding-left: 250px;
    padding-right: 550px;
}

.navbar-brand {
    padding-left: 50px;
	margin-left: auto;
	margin-right: auto;
}

.li1 {
    padding-right: 20px;
}

.koszyk {
    width: 100px;
    background-color: black;
    color: white;
    margin-right: 30px;
}
.nav-item1 {
	width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container p-4 {
	background-color: white;
}

 a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

hr {
	padding-bottom: 5px;
	height:2px;
	color: white;
}

.carousel-item {
	padding-bottom:50px;
}

.products {
		font-weight:200;
	letter-spacing: 1px;
	font-size: 30px;
	text-align: center;
	padding-bottom: 6px;
}

.products2 {
	font-weight:200;
	letter-spacing: 1px;
	font-size: 22px;
	text-align: center;
	padding-bottom: 75px;
	color: gray;
}

.text-dark {
	font-size: 14px;
	color: gray;
}


.text-uppercase {
	padding-left: 10px;
	font-size: 14px;
}

  .nav{
	padding: 0;
	list-style: none;
	background: #f2f2f2;
	margin-left: auto;
	margin-right: auto;
}
.nav li{
	display: inline-block;
	position: relative;
	line-height: 21px;
	text-align: left;
}
.nav li a{
	display: block;
	padding: 8px 25px;
	color: #333;
	text-decoration: none;
}
.nav li a:hover{
	color: #fff;
	background: #939393;
}
.nav li ul.dropdown{
	min-width: 100%; /* Set width of the dropdown */
	background: #f2f2f2;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
}
.nav li:hover ul.dropdown{
	display: block;	/* Display the dropdown */
}
.nav li ul.dropdown li{
	display: block;
}
#main {
    min-height: 500px;
}
#szablon {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.d-flex {
    padding-left: 10% !important;
    padding-right: 25% !important;
  }

